.board__game {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    flex-wrap: wrap;
    padding: 3px 0;
    box-shadow: inset -3px -3px 0px white, inset 3px 3px 0px #7B787B;
}